<div class="ui-g">
        <div class='card card-w-title ui-g-12'>

<div class="medpage-data">
    <div class="med-header">
    <div class="head-med-his ui-g-5">Medication History </div>
    <div class="srch-med-his ui-g-7">
        <form class="mod-srch-medhis"><input type="text" pInputText placeholder="Search">
        </form>
    </div>
    </div>
    <div class="med-table"><table class="med-hist" mdbTable mdbTableScroll scrollX="true" maxWidth="50">
    <thead>
        <tr>
            <th>Date Entered</th>
            <th>Prescription</th>
            <th>Doctor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                    
                    <li><a href="#"><i aria-hidden="true"
                                class="fa fa-print act-cmed-icon0"></i></a></li>
                    <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                                class="fa fa-history act-cmed-icon1"></i></a></li>
                    <li><a href="#"><i aria-hidden="true"
                                class="fa fa-repeat act-cmed-icon1"></i></a></li>
                    
                </ul>

            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Amoxicillin 125 mg chewable tab </td>
            <td>Leonard McCoy</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Amoxicillin 125 mg chewable tab </td>
            <td>Leonard McCoy</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Amoxicillin 125 mg chewable tab </td>
            <td>Leonard McCoy</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>01/12/18 </td>
            <td>Tylenol 325 mg tablet</td>
            <td>Robert Alexander</td>
            <td>
                <ul class="act-medhis">
                        <li><a href="#"><i aria-hidden="true"
                            class="fa fa-print act-cmed-icon0"></i></a></li>
                <li><a href="#" (click)="show_singlemed_history()"><i aria-hidden="true"
                            class="fa fa-history act-cmed-icon1"></i></a></li>
                <li><a href="#"><i aria-hidden="true"
                            class="fa fa-repeat act-cmed-icon1"></i></a></li>
                </ul>

            </td>
        </tr>

        <!--  popup history medication tab -->

        <p-dialog class="modal-singlemed-his" [(visible)]="display_singlemed_history"
            [modal]="true" [dismissableMask]="true" [responsive]="true" [minY]="70" [maximizable]="true"
            [baseZIndex]="10000">
            <p-header>
                <div class="head-med-his ui-g-12">History of Tylenol 325 mg tablet </div>

            </p-header>

            <table class="history-table" mdbTable mdbTableScroll scrollX="true" maxWidth="50">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>User</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>
                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>

                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>

                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>

                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>

                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>

                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>

                    <tr>
                        <td>01/12/18 </td>
                        <td>Sent to Pharmacy</td>
                        <td>Robert Alexander</td>
                    </tr>


                </tbody>
            </table>



        </p-dialog>


    </tbody>

</table>
</div>

</div>
</div>
</div>
