<div class="ui-g">
        <div class='card card-w-title ui-g-12'>
<section class="acc-sec"> 
    <h3>Prescriber</h3>  
        <div class="group-acc">
        <h4>Drug Interaction Settings</h4>
          <ul>
              <li><p-checkbox  value=""
                label="Show Severe"></p-checkbox></li>
                <li><p-checkbox value=""
                    label="Show Medium"></p-checkbox></li>
                    <li><p-checkbox value=""
                        label="Show Low"></p-checkbox></li>
          </ul>
        </div>
    
        <div class="group-acc">
                <h4>Default Drug Search</h4>  
                <ul>
                        <li><p-checkbox value=""
                            label="Show Favorites on Main Screen"></p-checkbox></li>
                            <li><p-checkbox value=""
                                label="Show Entire Medication Box"></p-checkbox></li>
                          
                </ul>
              </div>
    
    
    </section>
    </div>
    </div>