<div class="ui-g">
    <div class='card card-w-title ui-g-12'>
<section class="acc-sec"><h3>Account Settings</h3> 
    <div class="group-acc">
       
      <ul>
          <li><p-checkbox value=""
            label="Doctor Service Address on Erx"></p-checkbox></li>
            <li><p-checkbox value=""
                label="Office Address on Erx"></p-checkbox></li>
      </ul>
    </div>

    <div class="group-acc">
            <h4>Printing Settings</h4>  
            <ul>
                <li><p-checkbox  value=""
                  label="Show Doctor DEA on Print/Fax"></p-checkbox></li>
                  <li><p-checkbox value=""
                      label="Show Doctor NPI on Printed Rxs"></p-checkbox></li>
                      <li><p-checkbox  value=""
                        label="Show Pharmacy Phone and Fax on Printed Rxs"></p-checkbox></li>
                        <li><p-checkbox  value=""
                            label="Show Complete Prescriber Name"></p-checkbox></li>
                      
            </ul>
          </div>


</section>
</div>
</div>